* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;	
	position: relative;
}

html, body {
    height: 100%;
	margin: 0;
	padding: 0;
}

body {
	font-size: 1.2em;
	line-height: 1.5;
	font-family: georgia, serif;
	color: #555;
	overflow: hidden;
}

div {
	margin: 0;
	padding: 0;
}

div#container {
	height: 100%;
}

#header {
	background: #eee;
	color: #999;
	font-size: .8rem;
	padding: 10px;
	width: 100%;
	top: 0px;
	height: 80px;
	z-index: 100;
}

#scroller {
	position: relative;
    left: 0px;
	overflow-x: hidden;
	overflow-y: scroll;
	width: 100%;
	height: 100%;
}

#scroller>div:first-child {
	font-size: 1.6rem !important;
	padding-top: 60px;
	width: 28em;
	margin: 0 auto;
	padding-bottom: 80px;
}

h1, h3, h4 {
	margin: 0;
	padding: 0;	
}

p, dl    { margin-left:40px }
dl {
	padding: 0;
	margin: 0;
}
.aux     { font-family:monospace;font-size:20px;letter-spacing:1px; }
.also    { font-size:18px }
.copy    { font-size:16px;text-align:center;color:#111 }
.man-ref { font-family:monospace;letter-spacing:-2px; }